apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: monitoring-stack-alert
  namespace: cattle-monitoring-system
spec:
  route:
    receiver: arema-sit
    groupBy: ['alertname', 'team', 'severity']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 10m

    # routes:
    #   - matchers: [{name: team, value: platform, regex: false}]
    #     receiver: 'platform'
    #   - matchers: [{name: team, value: arema, regex: false}]
    #     receiver: 'arema'

  inhibitRules:
    - sourceMatch: [{ name: severity, value: critical, regex: false }]
      targetMatch: [{ name: severity, value: warning|info, regex: true }]
      equal: ['env', 'cluster', 'service', 'alertname', 'team']
    - sourceMatch: [{ name: severity, value: warning, regex: false }]
      targetMatch: [{ name: severity, value: info, regex: false }]
      equal: ['env', 'cluster', 'service', 'alertname', 'team']

  receivers:
    - name: arema-sit
      msteamsConfigs:
        - webhookUrl:
            name: alertmanager-webhook-secret
            key: arema-sit-url
          sendResolved: true
          title: 'Prometheus Alert ({{ .Status | toUpper }})'
          text: |
            {{ range .Alerts -}}
            {{ .Annotations.description }}
            
            **runbook_url** {{ .Annotations.runbook_url }}
            **summary** {{ .Annotations.summary }}
            {{ range .Labels.SortedPairs -}}
            **{{ .Name }}** {{ .Value }}
            {{ end -}}
            
            ---
            {{- end }}
    # - name: 'platform'
    #   webhookConfigs:
    #     - urlSecret:
    #         name: alertmanager-webhook-secret
    #         key: platform-url
    #       sendResolved: true
    # - name: 'arema'
    #   webhookConfigs:
    #     - urlSecret:
    #         name: alertmanager-webhook-secret
    #         key: arema-url
    #       sendResolved: true