apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: team-storage-smart-alert
  labels:
    release: rancher-monitoring
spec:
  groups:
    - name: storage-calculation
      rules:
        - record: team:storage_usage:ratio
          expr: >
            (
              sum by (team, namespace, job) (
                label_replace(
                  label_replace(
                    rate(scrape_samples_scraped[1d]),
                    "team", "$1",
                    "namespace", "([^-]+).*"
                  ),
                  "team", "platform",
                  "team", "cattle|argocd|kube|airflow|airflow3|vm|default"
                )
              )
              /
              scalar(sum(rate(scrape_samples_scraped[1d])))
            )
            *
            scalar(
              max(kubelet_volume_stats_capacity_bytes{persistentvolumeclaim=~".*prometheus.*"})
              -
              max(kubelet_volume_stats_available_bytes{persistentvolumeclaim=~".*prometheus.*"})
            )
            /
            scalar(prometheus_tsdb_retention_limit_bytes)

        - alert: TeamStorageQuotaHigh
          expr: >
            (
              team:storage_usage:ratio{team="arema"}
              and on(team)
              (sum by (team) (team:storage_usage:ratio) > 0.60)
            )
            or
            (
              team:storage_usage:ratio{team="platform"}
              and on(team)
              (sum by (team) (team:storage_usage:ratio) > 0.0001)
            )
          for: 1s
          labels:
            severity: warning
          annotations:
            summary: 'High Storage: {{ $labels.team }}'
            description: 'Service {{ $labels.service }} (Pod: {{ $labels.instance }}) in {{ $labels.namespace }} is contributing {{ $value | humanizePercentage }}.'