apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: team-storage-smart-alert
  labels:
    release: rancher-monitoring
spec:
  groups:
    - name: storage-calculation
      rules:
        # 1. RECORDING RULE (Granular - Includes all your labels)
        - record: team_storage_usage_ratio
          expr: >
            (
              sum by (team, namespace, job, instance, service) (
                label_replace(
                  label_replace(
                    rate(scrape_samples_scraped[1d]),
                    "team", "platform", "namespace", ".*"
                  ),
                  "team", "arema", "namespace", "arema.*"
                )
              )
              /
              scalar(sum(rate(scrape_samples_scraped[1d])))
            )
            * scalar(
              sum(prometheus_tsdb_storage_blocks_bytes + prometheus_tsdb_wal_storage_size_bytes)
            )
            /
            scalar(prometheus_tsdb_retention_limit_bytes)

        - alert: TeamStorageQuotaHigh
          expr: >
            (
              topk by (team) (1, team_storage_usage_ratio{team="arema"})
              and on(team)
              (sum by (team) (team_storage_usage_ratio) > 0.60)
            )
            or
            (
              topk by (team) (1, team_storage_usage_ratio{team="platform"})
              and on(team)
              (sum by (team) (team_storage_usage_ratio) > 0.0001)
            )
          for: 1s
          labels:
            severity: warning
          annotations:
            summary: 'High Storage: Team {{ $labels.team }}'
            description: 'Team {{ $labels.team }} is over quota. Top Offender: Service {{ $labels.service }} (Pod {{ $labels.instance }}) in {{ $labels.namespace }} is using {{ $value | humanizePercentage }} by itself.'