apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: team-storage-smart-alert
  labels:
    release: rancher-monitoring
spec:
  groups:
    - name: storage-calculation
      rules:
        - record: team_storage_usage_ratio
          expr: >
            (
              sum by (team) (
                label_replace(
                  label_replace(
                    rate(scrape_samples_scraped[1d]),
                    "team", "platform", "namespace", ".*"
                  ),
                  "team", "arema", "namespace", "arema.*"
                )
              )
              /
              scalar(sum(rate(scrape_samples_scraped[1d])))
            )
            * scalar(
              sum(prometheus_tsdb_storage_blocks_bytes + prometheus_tsdb_wal_storage_size_bytes)
            )
            /
            scalar(prometheus_tsdb_retention_limit_bytes)

        - alert: TeamStorageQuotaHigh
          expr: >
            (team_storage_usage_ratio{team="arema"} > 0.60)
            or
            (team_storage_usage_ratio{team="platform"} > 0.0001)

          for: 1h

          labels:
            severity: warning

          annotations:
            summary: 'Team {{ $labels.team }} is using high storage'
            description: 'Team {{ $labels.team }} is currently consuming {{ $value | humanizePercentage }} of the total Prometheus retention limit.'
