apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: team-storage.rules
  labels:
    release: rancher-monitoring
spec:
  groups:
    - name: team-storage
      rules:
        - record: team:storage_usage:ratio
          expr: >
            (
              sum by (team, namespace, job) (
                label_replace(
                  label_replace(
                    rate(scrape_samples_scraped[1d]),
                    "team", "$1",
                    "namespace", "([^-]+).*"
                  ),
                  "team", "platform",
                  "team", "cattle|argocd|kube|airflow|airflow3|vm|default"
                )
              )
              /
              scalar(sum(rate(scrape_samples_scraped[1d])))
            )
            * scalar(
              sum(prometheus_tsdb_storage_blocks_bytes + prometheus_tsdb_wal_storage_size_bytes)
            )
            /
            scalar(prometheus_tsdb_retention_limit_bytes)

        - alert: TeamStorageQuotaHigh
          expr: >
            (
              topk by (team) (1, team:storage_usage:ratio{team="arema"})
              and on(team)
              (sum by (team) (team:storage_usage:ratio) > 0.60)
            )
            or
            (
              topk by (team) (1, team:storage_usage:ratio{team="platform"})
              and on(team)
              (sum by (team) (team:storage_usage:ratio) > 0.0001)
            )
          for: 1s
          labels:
            severity: warning
          annotations:
            summary: 'High Storage: Team {{ $labels.team }}'
            description: 'Team {{ $labels.team }} is over quota. Top Offender: Job {{ $labels.job }} in {{ $labels.namespace }} is using {{ $value | humanizePercentage }} by itself.'