apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: team-storage.rules
  labels:
    release: rancher-monitoring
spec:
  groups:
    - name: team-storage
      rules:
        - record: team:storage_usage:ratio
          expr: >
            (
              sum by (team, namespace, job) (
                label_replace(
                  label_replace(
                    rate(scrape_samples_scraped[1d]),
                    "team", "$1",
                    "namespace", "([^-]+).*"
                  ),
                  "team", "platform",
                  "team", "cattle|argocd|kube|airflow|airflow3|vm|default"
                )
              )
              /
              scalar(sum(rate(scrape_samples_scraped[1d])))
            )
            *
            scalar(
              max(kubelet_volume_stats_capacity_bytes{persistentvolumeclaim=~".*prometheus.*"})
              -
              max(kubelet_volume_stats_available_bytes{persistentvolumeclaim=~".*prometheus.*"})
            )
            /
            scalar(prometheus_tsdb_retention_limit_bytes)

        - alert: TeamStorageQuotaHigh
          expr: >
            (
              topk by (team) (1, team:storage_usage:ratio{team="arema"})
              and on(team)
              (sum by (team) (team:storage_usage:ratio) > 0.50)
            )
            or
            (
              topk by (team) (1, team:storage_usage:ratio{team="platform"})
              and on(team)
              (sum by (team) (team:storage_usage:ratio) > 0.50)
            )
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: 'High Storage: Team {{ $labels.team }}'
            description: 'Team {{ $labels.team }} is over quota. Top Offender: Job {{ $labels.job }} in {{ $labels.namespace }} is using {{ $value | humanizePercentage }} by itself.'